html,body {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100%
}

.clearfix::after {
    clear: both;
    content: "";
    display: table
}
.main-login .container-login,.main-login .container-carousel,.main-login.neuron-view,.recruitment {
    height: 100%;
    width: 100%;
    max-height: 100%;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row-reverse wrap
}
.recruitment {
    background-color: #f6f7f8;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem
}
.recruitment .container-form,.recruitment .container-vectorize {
    width: 50%
}
.recruitment .container-form {
    position: relative;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
    padding: 2rem 1.5rem;
    width: max-content;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 10
}
.recruitment .container-vectorize {
    height: 100%
}

.recruitment .container-vectorize .vector-background {
    height: inherit;
    position: absolute
}
.recruitment .container-vectorize .vector-background>img {
    height: 100%
}

.recruitment .recruitment-form-dialog #recruitment-form>.form-group .btn {
    justify-content: center;
    width: 100%;
    text-align: center
}
.recruitment .footer {
    text-align: center;
    margin-top: 1.5rem;
    width: 100%
}
.recruitment .footer>ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10%;
    font-size: 2rem;
    width: 100%
}
.recruitment .footer>ul li a:hover,.recruitment .footer>ul li:hover a {
    color: #1565c0
}
.recruitment .copyright-container {
    display: none
}


.wrapper-image>img {
    width: 100%
}

body {
    font-family: SourceSansProRegular,sans-serif;
    font-size: 13px;
    font-size: .8125rem
}

